---
export interface Props {
  title: string;
  link: string;
  image: string;
  alt?: string;
  description: string;
  /** Optionally show the inline SVG arrow icon */
  showIcon?: boolean;
}

const {
  title,
  link,
  image,
  alt = title,
  description,
  showIcon = true,
} = Astro.props;
---

<article class="flex flex-col">
  <div class="mt-4 text-xl font-medium mb-2">
    <a
      href={link}
      target="_blank"
      rel="noopener noreferrer"
      class="hover:bg-sky-200 transition-colors duration-300 inline-flex items-center"
    >
      <span>{title}&nbsp;</span>
      {showIcon && "↗"}
    </a>
  </div>
  <img src={image} alt={alt} class="w-full object-cover" />
  <p class="mt-2 text-base text-gray-600" set:html={description} />
</article>
