---
export interface Props {
  title: string;
  link: string;
  image: string;
  alt?: string;
  description: string;
}

const { title, link, image, alt = title, description } = Astro.props;
---

<article class="flex flex-col mb-5">
  <div class="mt-4 text-xl font-medium mb-2">
    <a
      href={link}
      target="_blank"
      rel="noopener noreferrer"
      class="hover:bg-sky-200 transition-colors duration-300 inline-flex items-center underline decoration-sky-200"
    >
      <span>{title}&nbsp;</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-arrow-up-right opacity-50"
        ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
      >
    </a>
  </div>
  <div class="w-full">
    <img src={image} alt={alt} />
    <p class="mt-2 text-base text-gray-600" set:html={description} />
  </div>
</article>
